@model IEnumerable<SalesTrack.Models.OrderMonth>

<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">

                <div class="page-header d-print-none">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="page-title">
                                Orders
                            </h2>
                        </div>
                        <div class="col-auto ms-auto d-print-none">
                            <div class="btn-list">
                                @if (Session["Role"].ToString() == "Admin")
                                {
                                    <a href="/OrderMonth/Add" class="btn btn-primary d-none d-sm-inline-block">
                                        Add Order
                                    </a>
                                }
                              </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">


            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Order List (@Model.Count())
                        </h3>
                    </div>


                    <div class="card-table table-responsive">

                        <table class="table table-vcenter">
                            <thead>
                                <tr>
                                    <th>YEAR</th>
                                    <th>MONTH</th>
                                    <th>NAME</th>
                                    @if (Session["Role"].ToString() == "Admin")
                                    {
                                        <th>ACTION</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var o in Model)
                                {
                                <tr>
                                    <td>@o.Year</td>
                                    <td>@o.Month</td>
                                    <td>@o.Name</td>
                                    @if (Session["Role"].ToString() == "Admin")
                                    {
                                        <td>
                                            <a class="btn btn-outline-primary" href="/OrderMonth/Edit/@o.ID">Edit</a>
                                            <a class="btn btn-outline-danger" href="/OrderMonth/Delete/@o.ID">Delete</a>
                                        </td>
                                    }
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>



                </div>



            </div>


        </div>
    </div>


</div>


